## Start in fullscreen (false by default)
#FullScreen = true

## VSync (true by default)
#VSync = false

## Resultion in WxHxF (640x480@0 by default)
## W = Width, H = Height, F = Framerate (0 = Max)
#Resolution = 1024x768

## Fullscreen resulution in WxHxF (same as Resolution by default)
#FullResolution = 1920x1080
