#controls keycodes
#format is:
#action = keycode
#example:
#jump = 32
#games can append game-specific values as so:
#game_name.action = keycode
#however, it is encouraged that games use config/[game name]/ for this instead to avoid conflicts
